# dot files
/.vscode/launch.json
/.settings
/.eide/log
/.eide.usr.ctx.json

# project out
/build
/bin
/obj
/out

# eide template
*.ept
*.eide-template

# MDK-ARM build outputs
*.crf
*.d
*.o
*.axf
*.hex
*.bin
*.map
*.lst
/Volley_ok/
/RTE/_Volley_ok/

# Debug and log files
JLinkLog.txt
JLinkSettings.ini
EventRecorderStub.scvd

# User-specific project files
*.uvguix.*
